# Python
__pycache__/
*.py[cod]
*.pkl
.env

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Ignore raw datasets
data/
data/train.csv
data/train_cleaned.csv
data/train_features.csv


 
 